html {
    font-family: 'Courier New', Courier, monospaces;
    font-weight: 500
}

body {
    margin: 0px;
    background-color: #f7af5d;

}

a {
    text-decoration: none;
    color: #683b00;
    background: #f7af5d;
    border-radius: 100px;
    transition: none;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 5px;
    position: relative;
    z-index: 5;
    border: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 120%;
}

a:hover {
    color: rgb(255, 255, 255);
}

main {
    text-align: center;
    margin: auto;
    width: 1200px;
    padding: 50px;

}

footer {
    text-align: center;
    display: block;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    padding: 0;
}


.picture_logo {
    width: 85%;
    margin: auto;
    text-align: right;
}
.picture_logo img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 5%;
}

.centr_logo {
    text-align: center;
    color: #f7af5d;
    font-size: 50px;

}

.navigation {
    background-color: rgb(0, 0, 0);
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    padding: 0;
}

.buttons {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

.main_header {
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.container{
    display: grid;
    align-items: center;
}

.main_game{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.main_game p{
    font-weight: bold;
    font-size: 23px;
}


.shop_game{
    float:left;
    margin:auto;

}
.shop_game p{
    font-weight: bold;
    font-size: 23px;

}

.map{
    width: 400px;
    height: 400px;

}


.social_media{
    color: #f7af5d;
    font-weight: bold;
}


input {
    text-decoration: none;
    color: #000000;
    background: #fccfa5;
    border-radius: 50px;
    transition: none;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 5px;
    position: relative;
    z-index: 5;
    border-inline-color: black;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
}

input:hover {
    color: black;
    border-color: whitesmoke;

}

table{
    color: #000000;
    background: #fccfa5;
    border-radius: 20px;
    border-color: black;
    display: inline-block;
    padding: 6px 12px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

span{
    color: red;
}